
@{
    ViewBag.Title = "The Party Begins Here";
}

<h2>Login via OAUTH and GMAIL</h2>

<p>To scrape emails you must login by clicking the button below.</p>
<form action="/Home/IndexAsync">
    <input type="submit" class="btn btn-danger" />
</form>